# Config
.env

# Visual Studio Code
.vscode/

# Pycache from 
__pycache__/

# Venv
venv

# Images
text.png
Meme.png
ConchPixel32.png
AllMyHomiesHateTemplate.jpg
Brain.png
BusTrain.png
IdPutMy.png
IsThis.jpg
MentalIlness.png
TradeOffer.jpg

# Read The Docs
docs