# Config
.env

# Visual Studio Code
.vscode/

# Pycache from 
__pycache__/

# Venv
venv

# Images
text.png
Meme.png

# Databases so the bot doesn't reset them every update
bot/db/

# Website
web/

# ffmpeg
bot/src/ffmpeg.exe
bot/src/ffprobe.exe
bot/src/ffplay.exe

# Logging
discord.log